
@{
    ViewBag.Title = "Index";
}

<h2>Settings</h2>
<ul>
    <li>@Html.ActionLink("People Types", "PeopleType")</li>
    <li>@Html.ActionLink("News Types", "NewsType")</li>
    <li>@Html.ActionLink("Languages", "Languages")</li>
    <li>@Html.ActionLink("Company Link Types", "CompanyLinkType")</li>
    <li>@Html.ActionLink("Markets", "Markets")</li>
    <li>@Html.ActionLink("Event Categories", "EventCategory")</li>
    <li>@Html.ActionLink("EventSourceType", "EventSourceType")</li>
    <li>@Html.ActionLink("Document Types", "DocumentType")</li>
</ul>

