@model IEnumerable<OPIMsys.Models.PeopleType>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "CreatePeopleType")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditPeopleType", new { id=item.PeopleTypeId }) |
            @Html.ActionLink("Delete", "DeletePeopleType", new { id=item.PeopleTypeId })
        </td>
    </tr>
}

</table>

@Html.ActionLink("Back to settings", "Index")