@model OPIMsys.Models.CompanyDataType

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>CompanyDataType</legend>

         @Html.HiddenFor(model => model.CompanyDataTypeId)

        <div class="editor-label">
            @Html.LabelFor(model => model.Title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Notes)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Notes)
            @Html.ValidationMessageFor(model => model.Notes)
        </div>
        @foreach (var company in ViewBag.Companies)
        {
            string companyId = "CompanyId" + company.CompanyId.ToString();
            bool isChecked = false;
            if(ViewBag.SelectedCompanies.FindAll(x => x.CompanyId == company.CompanyId).Count() > 0)
                    isChecked = true;
             @Html.CheckBox(companyId, isChecked) @company.Name<br />
        }
        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
